<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad 8</title>
</head>
<body>
    <form action="../dynamics/Actividad8.php" method="POST">
        <fieldset>
            <!-- Formulario -->
            <legend><h3>Ingrese el texto a cifrar.</h3></legend>
            <!-- Texto -->
            <p>Texto:</p>
            <br>
            <input type="text" name="txt" placeholder="Min 50 carateres, máx 200 caracteres." pattern='[A-Za-z.,¿?]{50,200}' title='No se aceptan carcteres distintos a: letras (no latinas), puntos, comas y signos de interrogación.' required>
            <br>
            <br>
            <!-- Llave -->
            <p>Llave:</p>
            <input type="number" name="key" min="1" max="30" required>
            <br>
            <br>
            <br>
            <br>
            <input type="submit" value="Cifrar">
        </fieldset>
    </form>
</body>
</html>