<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad 9</title>
</head>
<body>
    <form action="../dynamics/Actividad9descifrar.php" method="POST">
        <fieldset>
            <!-- Formulario -->
            <legend><h3>Ingrese el texto a descifrar.</h3></legend>
            <!-- Texto -->
            <p>Texto:</p>
            <br>
            <input type="text" name="txt" placeholder="Min 1 carater, máx 150 caracteres." required>
            <br>
            <br>
            <!-- Llave -->
            <p>Llave:</p>
            <br>
            <input type="number" name="key" required>
            <br>
            <br>
            <br>
            <br>
            <input type="submit" value="Descifrar">
        </fieldset>
    </form>
</body>
</html>